:root {
  --brand-black: #3c3c3b;
  --brand-white: #ffffff;
  --brand-gray: #f1f1f1;
  --brand-offwhite: #fafafa;
  --brand-red: #ee274c;
  --brand-yellow: #fce41a;
  --brand-blue: #3f4488;
  --brand-green: #019963;
  --brand-pink: #f1a8ca;
}
