body{
  background-color: var(--brand-offwhite);
}
.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


.dashboard-title {
  font-family: var(--font-primary);
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center;
  color: var(--brand-red);
}

.dashboard-subtitle {
  font-family: var(--font-medium);
  text-align: center;
  margin-bottom: 40px;
  color: var(--brand-black);
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.dashboard-card {
  background: var(--brand-white);
  border-radius: 12px;
  box-shadow: 0 4px 12px var(--brand-black);
  padding: 25px;
  text-decoration: none;
  color: var(--brand-gray);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px var(--brand-black);
}

.dashboard-card h2 {
  font-family: var(--font-medium);
  color: var(--brand-red);
  margin-bottom: 12px;
  font-size: 1.5rem;
}

.dashboard-card p {
  font-family: var(--font-secondary);
  color: var(--brand-black);
}
