/* HomePage.css */

/* Styling for mobile*/
.home {
    margin: 0;
    padding: 0;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 93.8vh;
    font-family: 'Poppins', sans-serif;
}

.title{
  color: white;
}



/* Search box styles specific to HomePage */
.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.search-results {
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  margin: 40px auto;
  width: 80%;
  height: 75vh;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);


  overflow-y: scroll;
}

.SearchAll h1 {
  font-size: 24px;
  margin-bottom: 10px;
}



/*changes how all the buttons look on this page applys to all the buttons on home as of right now if you want to change specific ones add a class or id to it*/
button {
  margin-left: 8px;
  padding: 8px 12px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

